---
layout: default
title: Participants
permalink: /participants/
---

<h1>Deelnemers</h1>

MADSpace is afhankelijk van donaties. Tevens kun je structureel bijdragen aan MADspace door een deelnemer te worden.

Deelnemers krijgen 24 uur per dag toegang tot de hackerspace (indien ze al enige tijd meedraaien).

Deelnemer wordt je al vanaf 10 euro per maand (in het eerste jaar). Deelnemerschap kost na het eerste jaar 25 euro per maand.

Op de hackerspace hebben we inschrijfformulieren hiervoor klaarliggen.

<h3><a href="/deelnemer_worden.html">Lees hier over "deelnemer worden"</a></h3>

<h1>Vaste bezoekers</h1>
<div class="participants">
  <ul>
    {% for participant in site.participants %}
      <li>
        <a class="participant-link" href="{{ participant.url | prepend: site.baseurl }}">{{ participant.title }}</a>
      </li>
    {% endfor %}
  </ul>
  
</div>
<h3>GitHub publieke deelnemers</h3>
<div class="participants">
{% include blocks/github_users.html orgname="madspace" %}
</div>

