<div id="github_users"></div>

<script type="text/javascript">
var xmlhttp = new XMLHttpRequest();
var url = 'https://api.github.com/orgs/{{ include.orgname }}/members';

xmlhttp.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
        var myArr = JSON.parse(this.responseText);
        myFunction(myArr);
    }
};
xmlhttp.open('GET', url, true);
xmlhttp.send();

function myFunction(arr) {
    var out = '<ul>';
    var i;
    for(i = 0; i < arr.length; i++) {
        out += '<li><a class="participant-link" href="' + arr[i].html_url + '" onclick="window.open(this.href); return false;">' + arr[i].login + '</a></li>';
    }
    out += '</ul>';
    document.getElementById('github_users').innerHTML = out;
}
</script>

<noscript>
   We would like to show our github public users here, but  it seems you don't have javascript (enabled). 
   If you would like to see our github public users, please follow this link: <a href="https://github.com/{{ include.orgname }}">https://github.com/{{ include.orgname }}</a>
</noscript>
